<div class="card border-primary mb-3">
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de facturas</h5>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Placa</th>          
            <th>Fecha Ingreso</th>
            <th>Fecha Salida</th>
            <th>Valor Cancelado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let factura of facturas ">
            <td>{{ factura.placa | uppercase}}</td>          
            <td>{{ factura.fechaIngreso | date: 'd-MM-yyyy, h:mm a'}}</td>
            <td>{{ factura.fechaSalida | date: 'd-MM-yyyy, h:mm a'}}</td>
            <td>{{ factura.totalAPagar | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>