<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ceiba-Estacionamiento</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="/vehiculos">Vehiculos</a>
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="/facturas">Facturas</a>
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="/tasa">TCRM</a>
      </li>
    </ul>
  </div>
</nav>