<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form>
      <div class="form-group row">
        <label for="placa" class="col-form-label col-sm-2">Placa*</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="vehiculo.placa" name="placa" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="tipo" class="col-form-label col-sm-2">Tipo*</label>
        <div class="col-sm-6">
          <select class="form-control" [(ngModel)]="vehiculo.tipo" name="tipo">
            <option>CARRO</option>
            <option>MOTO</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="cilindraje" class="col-form-label col-sm-2">Cilindraje</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" [(ngModel)]="vehiculo.cilindraje" name="cilindraje" min="1">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" id="registrar" role="button" (click)='create()' *ngIf="!vehiculo.id else elseBlock">Registrar</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
          </ng-template>
          <button class="btn btn-rounded btn-danger" type="button" [routerLink]="['/vehiculos']">Cancelar</button>
        </div>
      </div>
    </form>

  </div>
</div>
