<div class="card border-primary mb-3">
  <div class="card-body text-primary">
    <div id="printSectionId">
        <h5 class="card-title">Resumen del parqueadero</h5>

        <table class="table table-bordered table-striped">
          <thead></thead>
          <tbody>
            <tr>
              <th>Placa: </th>
              <td>{{ factura.placa }}</td>
            </tr>
            <tr>
              <th>Fecha Ingreso: </th>
              <td>{{ factura.fechaIngreso  | date: 'd-MM-yyyy, h:mm a'}}</td>
            </tr>
            <tr>
              <th>Fecha Salida: </th>
              <td>{{ factura.fechaSalida  | date: 'd-MM-yyyy, h:mm a'}}              
              </td>
            </tr>
            <tr>
              <th>Valor a Pagar: </th>
              <td>{{ factura.totalAPagar | currency}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)="printToCart('printSectionId')">Imprimir</button>
          <button class="btn btn-rounded btn-danger" type="button" [routerLink]="['/vehiculos']">Regresar</button>
        </div>
      </div>
    
  </div>
</div>