<div class="card border-primary mb-3">
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de vehiculos</h5>
      <div class="table-responsive">
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" id="registrarVehiculo" type="button" [routerLink] = "['/vehiculos/form']">Registrar Ingreso</button>
      </div>
      <input type="search" class="form-control" placeholder="Inserte la placa del vehiculo..." [formControl]="campoBusqueda">
      <br/>

        <table class="table table-bordered table-striped">
          <thead>
            <tr class="thead-dark">
              <th>Placa</th>
              <th>Tipo</th>
              <th>Cilindraje</th>
              <th>Fecha Ingreso</th>
              <th>Editar</th>
              <th>Retirar</th>
              <td hidden>Id</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehiculo of vehiculos">
              <td>{{ vehiculo.placa | uppercase}}</td>
              <td>{{ vehiculo.tipo }}</td>
              <td>{{ vehiculo.cilindraje }}</td>
              <td>{{ vehiculo.fechaIngreso | date: 'dd-MM-yyyy, h:mm a'}}</td>
              <td>
                <button type="button" name="editar" [routerLink]="['/vehiculos/form', vehiculo.id]" class="btn btn-primary btn-sm">Editar</button>
              </td>
              <td>
                <button type="button" name="retirar" (click)='createFactura(vehiculo.id)' class="btn btn-danger btn-sm">Retirar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="noresultados">
        <p>No existe ninguna coincidencia</p>
       </div>
    </div>
  </div>
