<div class="card border-primary mb-3">
  <div class="card-body text-primary">
      <h5 class="card-title">Tasa representativa del mercado</h5>
      <p name="tasa">{{ tasa | currency}}</p>
  </div>
</div>
